.caja{
    background-color: crimson;
    width: 300px;
    height: 200px;
    margin:150px;
}


/* 
Transformaciones
    transform: la transformacion

*/
div.caja-a {
    transform: rotate(90deg);
}  
div.caja-b {
transform: skewX(20deg);
} 
div.caja-c {
    transform: scale(1.5);
}